body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#ath {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

@keyframes hit {
    0% {
        transform: translate(+1px, 50.5%) rotate(0deg);
    }

    10% {
        transform: translate(-1px, 49%) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 50%) rotate(1deg);
    }

    30% {
        transform: translate(+3px, 51%) rotate(0deg);
    }

    40% {
        transform: translate(+1px, 49.5%) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 51%) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 50.5%) rotate(0deg);
    }

    70% {
        transform: translate(+3px, 50.5%) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, 49.5%) rotate(1deg);
    }

    90% {
        transform: translate(+1px, 51%) rotate(0deg);
    }

    100% {
        transform: translate(+1px, 49%) rotate(-1deg);
    }
}


#vignette {
    position: fixed;
    top: -10px;
    left: -10px;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
    border-radius: 20px;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7) inset;
    z-index: 1000;
}

#gameCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgray;
}

#wrapper {
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.joystick {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    cursor: pointer;
    height: 20vh;
    width: 20vh;
    user-select: none;
    z-index: 1000;
}

.used {
    background-color: rgba(0, 0, 0, 0.3);
}

#connexion {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
}

#choiceBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#choiceBtns button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    border-bottom: white 2px solid;
}

#signIn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#signUp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#connexion input {
    padding: 10px;
    font-size: 18px;
    width: 50%;
    margin-top: 10px;
}

button,
.button {
    background-color: lightgrey;
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.1s ease-in-out;
}

button:hover,
.button:hover {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;

}

#baseMenu {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: -webkit-fill-available;
    border: 2px solid #000;
    color: white;
    text-align: center;
}

.startMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 50vh;
    width: 40%;
    margin: 20px;
    padding: 20px;
}

.menu {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    min-width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #000;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu input {
    padding: 5px;
    font-size: 15px;
    width: 50%;
    margin-bottom: 10px;
}

#connectDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#userDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 17px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#errorSection {
    color: black;
    font-weight: bolder;
    position: fixed;
    opacity: 0;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

#leaderboard {
    padding-left: 0;
    min-height: 30vh;
    width: 75%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#leaderboard .score-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}

#leaderboard .score-item:last-child {
    border-bottom: none;
}

#leaderboardPlace {
    padding: 15px;
}

#statsMenu {
    position: absolute;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 30vh;
    padding: 20px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
}

#statsMenu h1 {
    margin-top: 0;
}

#statsMenu h2 {
    margin-bottom: 0;
}

#statsMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#statsMenu * {
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-left: 0;
}

#healthStats,
#damageStats {
    width: 100%;
}

#healthStats li,
#damageStats li {
    position: relative;
    width: 100%;
    left: 0;
    text-align: start;
}

#healthStats li span,
#damageStats li span {
    position: absolute;
    right: 0;
}

#pauseBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}

#pauseMenu h1,
#shop h1 {
    margin-top: 0;
}

#shop ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.shopItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-width: 25%;
    padding: 20px 10px;
    margin: 20px 10px;
    cursor: pointer;
    background-color: white;
    transition: all 0.1s ease-in-out;
}

.shopItem:hover {
    transform: scale(1.1);
}

.shopItem * {
    color: black;
}

.shopItem h2 {
    margin: 0;
}

.shopItem h3 {
    margin-top: 0;
}

.shopItem div {
    display: flex;
    flex-direction: row;
}

.shopItem svg {
    width: 20px;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(2.5px)
    }

    50% {
        transform: translateX(-2.5px)
    }

    75% {
        transform: translateX(2.5px)
    }

    100% {
        transform: translateX(0)
    }
}

#shopClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    margin: 0;
}

.hidden {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#weaponsContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
    right: 20px;
    z-index: 100;
}

.weapon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: 0 10px 10px 0;
    padding: 10px;
}

.selected {
    transform: scale(1.1);
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.25);
    margin-right: 0;
}

.tab {
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: rgba(0, 0, 0, 0) 2px solid;
}

.activeTab {
    border-bottom: white 2px solid;
}